body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #1e242e;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 120px); /* Altezza dinamica per evitare sovrapposizione */
}

footer {
    width: 100%;
    background-color: #1e242e;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

.loader-container {
    text-align: center;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    height: auto;
    margin: auto; /* Centra il div verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.loader-container h1 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.loader-container input {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
}

.loader-container button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loader-container button:hover {
    background-color: #555;
}

@font-face {
    font-family: 'nasalization';
    src: url('../res/nasalization.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.examsphereLogo {
    font-family: 'nasalization', sans-serif;
    font-size: 3.5vh;
}
